body {
   height: 100%;
   margin: 0;
   min-height: 100%;
}
#header{
  
    box-sizing: border-box;
}
.logo-text{
    font-family: 'Kaushan Script', cursive;
    margin-top: 30px;
    text-align: center;
}
#header-nav{
    padding: 0 !important;
    font-size: 25px;
    margin-right: 5px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 40px;    
}
#header-nav a{
    text-decoration: none;
    color: #253544;
    font-family: 'Crimson Text', serif;
}
#header-nav a:hover{
    color: rgba(103, 206, 247, 0.836);    
}
#section{
    margin-top: 10px;
}
#footer{
    border-top: 3px solid black;
}
#footer-div{
    text-align: center;
    height: 50px;
    font-family: 'Crimson Text', serif;
}

.carousel-inner > .carousel-item > img {
    width:100%;
    height:600px;
    margin: 0 auto;
}

.product-container {
    padding: 0;
    position: relative;
    margin: 100px 5px;
    float: left;
    transition-duration: 0.4s;
    border-radius: 5px;
    animation: winanim 0.5s ;
}

.product-container:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.product-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px
}

.desc {
    padding: 5px;
    text-align: center;
    font-size: 90%;
    background:#374F65;
    color:#fff;
    width: 100%;
}

.owl-item {
    width: 210px !important;
}

.deal-item {
    background-color: #ffffff;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #dddddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .deal-item:hover {
    margin-top: -10px;
    margin-bottom: 30px;
    box-shadow: 0px 6px 0px 0px #253544;
  }
  .deal-item .deal-content {
    padding: 10px;
  }
  .deal-item .deal-content h6 {
    margin-top: 0px;
  }
  .deal-item .deal-content h6 a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #3a3b3c;
    font-weight: bold;
  }
  .deal-item .deal-content p {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    line-height: 21px;
  }
  .deal-item .deal-content .deal-content-bottom {
    display: block;
    overflow: hidden;
  }
  .deal-item .deal-content .deal-content-bottom p {
    float: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #253544;
    margin-bottom: 0px;
    margin-top: 8px;
  }
  .deal-item .deal-content .deal-content-bottom a {
    float: right;
    background-color: #253544;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .deal-item .deal-content .deal-content-bottom a:hover {
    color: #253544;
    background-color: #ffffff;
  }
  .deal-item .deal-thumb {
    position: relative;
    height: 180px;
  }
  .deal-item .deal-thumb img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    width: 100%;
  }
  .deal-item .deal-thumb .deal-badge {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #3a3b3c;
    color: #ffffff;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    line-height: 21px;
    -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 20% 48%, 0% 0%);
    clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 20% 48%, 0% 0%);
  }
 
  .deal-item .tooltip.top {
    margin-top: -13px;
  }
  .deal-item .tooltip {
    position: relative;
    float: right;
  }
  .deal-item .tooltip .tooltip-inner {
    background-color: #3a3b3c;
    color: #ffffff;
    font-size: 12px;
    line-height: 18px;
    padding: 5px;
  }
  .deal-item .tooltip.top .tooltip-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #3a3b3c;
  }
  .owl-carousel.owl-theme .owl-nav {
    position: relative;
    z-index: 2;
    top: -200px;
  }
  .owl-carousel.owl-theme .owl-nav .owl-prev {
    font-size: 24px;
    line-height: 36px;
    color: #5677fc;
    font-weight: bold;
    float: left;
    margin-left: -60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 23.4px 2.6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .owl-carousel.owl-theme .owl-nav .owl-prev:hover {
    color: #ffffff;
    background-color: #5677fc;
  }
  .owl-carousel.owl-theme .owl-nav .owl-next {
    font-size: 24px;
    line-height: 36px;
    color: #5677fc;
    font-weight: bold;
    float: right;
    margin-right: -60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 23.4px 2.6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .owl-carousel.owl-theme .owl-nav .owl-next:hover {
    color: #ffffff;
    background-color: #5677fc;
  }
  .new-coupon-wrapper {
    background-color: #fbf8f8;
    padding: 50px 0px;
  }
  .new-coupon-wrapper .owl-stage-outer {
    padding-top: 10px;
  }
  .popular-coupon-wrapper {
    padding: 50px 0px;
  }
  .popular-coupon-wrapper .owl-stage-outer {
    padding-top: 10px;
  }
  .coupon-item {
    background-color: #ffffff;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #dddddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .coupon-item:hover {
    margin-top: -10px;
    margin-bottom: 30px;
    box-shadow: 0px 6px 0px 0px #5677fc;
  }
  .coupon-item:hover .coupon-thumb a {
    visibility: visible;
  }
  .coupon-item:hover .coupon-thumb img {
    -webkit-filter: brightness(0.2);
    filter: brightness(0.2);
  }
  .coupon-item .coupon-thumb {
    position: relative;
    height: 180px;
  }
  .coupon-item .coupon-thumb a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
  .coupon-item .coupon-thumb img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    width: 100%;
    -webkit-transition: filter 0.2s ease-out;
    -moz-transition: filter 0.2s ease-out;
    -o-transition: filter 0.2s ease-out;
    transition: filter 0.2s ease-out;
  }
  .coupon-item .coupon-thumb .coupon-badge {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #3a3b3c;
    color: #ffffff;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    line-height: 21px;
    -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 20% 48%, 0% 0%);
    clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 20% 48%, 0% 0%);
  }
  .coupon-item .coupon-content {
    padding: 10px;
  }
  .coupon-item .coupon-content h6 {
    margin-top: 0px;
  }
  .coupon-item .coupon-content h6 a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #3a3b3c;
    font-weight: bold;
  }
  .coupon-item .coupon-content p {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    line-height: 21px;
  }
  .coupon-item .coupon-content .coupon-content-bottom {
    display: block;
    overflow: hidden;
  }
  .coupon-item .coupon-content .coupon-content-bottom p {
    float: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #5677fc;
    margin-bottom: 0px;
    margin-top: 8px;
  }
  .coupon-item .coupon-content .coupon-content-bottom a {
    float: right;
    background-color: #f9b320;
    color: #ffffff;
    border: 1px solid;
    border-color: #f9b320;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .coupon-item .coupon-content .coupon-content-bottom a:hover {
    color: #f9b320;
    background-color: #ffffff;
  }
  .owl-carousel.owl-theme .owl-nav {
    position: relative;
    z-index: 2;
    top: -200px;
  }
  .owl-carousel.owl-theme .owl-nav .owl-prev {
    font-size: 24px;
    line-height: 36px;
    color: #5677fc;
    font-weight: bold;
    float: left;
    margin-left: -60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 23.4px 2.6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .owl-carousel.owl-theme .owl-nav .owl-prev:hover {
    color: #ffffff;
    background-color: #253544;
  }
  .owl-carousel.owl-theme .owl-nav .owl-next {
    font-size: 24px;
    line-height: 36px;
    color: #5677fc;
    font-weight: bold;
    float: right;
    margin-right: -60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 23.4px 2.6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .owl-carousel.owl-theme .owl-nav .owl-next:hover {
    color: #ffffff;
    background-color: #5677fc;
  }

  .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 5px;
}